* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

/* Nav Bar */

.nav-bar {
  padding: 20px;
  display: flex;
  border: 1px solid;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

.search-movies-input {
  width: 500px;
  font-size: 1.1rem;
  padding: 4px;
  border-radius: 8px;
}

.links {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
}

.active-link {
  color: black;
  text-decoration: underline;
}

.inactive-link {
  color: black;
  text-decoration: none;
}

/* Movie Container */

.movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
