* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  background-color: hsl(0, 0%, 30%);
}

/* Nav Bar */

.nav-bar {
  padding: 20px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  color: hsl(192, 95%, 68%);
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

.search-movies-input {
  width: 500px;
  font-size: 1.1rem;
  padding: 4px;
  border-radius: 8px;
}

.links {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.active-link {
  color: hsl(192, 95%, 68%);
  text-decoration: underline;
}

.inactive-link {
  color: black;
  text-decoration: none;
}

/* Movies Container */

.movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

/* Movies container */
.movie-container {
  background-color: black;
  color: hsl(0, 0, 90%);
  position: relative;
}

.default-main-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.5rem;
}

/* Movies info */
.movie-info {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.3rem;
}

.Movie-link {
  text-decoration: none;
}

.movie-title {
  font-weight: bold;
  font-size: 1.4rem;
}

/* Movies image */

.movie-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

/* Movies Button */

.movie-wrapper {
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0;
  height: 800px;
  width: 100%;
  transition: opacity 0.3s ease;
}

.movie-container:hover .movie-wrapper {
  opacity: 0.5;
}

.addToFavourites-btn {
  padding: 10px;
  border-radius: 100%;
  opacity: 80%;
  text-align: center;
  position: absolute;
  right: 0;
  margin: 10px;
  top: 0;
  z-index: 1;
}

/* Movie Page */

.movie-page-container {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.movie-name {
  font-size: 2rem;
}

.movie-overview {
  width: 100%;
  margin-bottom: 10px;
}

.movie-image {
  width: 350px;
}

.info-container {
  display: flex;
  gap: 4px;
  font-weight: bold;
}

.movie-release-date {
  color: hsl(192, 95%, 68%);
  font-weight: 100;
}

.movie-popularity {
  color: hsl(192, 95%, 68%);
  font-weight: 100;
}

.movie-runtime {
  color: hsl(192, 95%, 68%);
  font-weight: 100;
}

.movie-genres {
  color: hsl(192, 95%, 68%);
  font-weight: 100;
}

@media (min-width: 760px) and (max-width: 991.98px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-movies-input {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .movie-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .movie-container {
    width: 100%;
  }

  .nav-bar {
    gap: 10px;
  }
}

@media (min-width: 551px) and (max-width: 760px) {
  .movies-container {
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .info-container {
    flex-direction: column;
  }
}

@media (min-width: 360px) and (max-width: 550px) {
  .movies-container {
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-movies-input {
    width: 300px;
    margin-bottom: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .movie-page-container {
    flex-direction: column;
  }

  .movie-image {
    align-self: center;
  }

  .movie-name {
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
